@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Times New Roman', 'YuMincho', 'Yu Mincho', 'Hiragino Mincho ProN', serif;
  font-feature-settings: 'palt';
  -webkit-font-smoothing: antialiased;
}
