@tailwind base;
@tailwind components;
@tailwind utilities;

.global-article {
  @apply sm:text-lg md:text-xl leading-relaxed;

  font-family: 'Hiragino Mincho Pro', 'YuMincho', 'Open Sans', 'Hiragino Kaku Gothic ProN', Meiryo, Helvetica, Arial,
    sans-serif;
  font-feature-settings: 'palt';
  -webkit-font-smoothing: antialiased;

  & > * + * {
    @apply mt-2 md:mt-4;
  }

  a {
    @apply text-sky-800 hover:text-sky-700 dark:text-amber-500 dark:hover:text-amber-400;
  }

  blockquote {
    @apply space-y-4 border-l-2 bg-zinc-100 dark:bg-zinc-800 pl-3 pr-3 py-2 border-zinc-400 dark:border-zinc-600;
  }

  code {
    &.hljs {
      @apply text-sm rounded-lg md:text-lg;
    }

    &:not(.hljs) {
      @apply text-sm md:text-lg bg-zinc-100 dark:bg-slate-800 border border-zinc-300 dark:border-zinc-700 rounded px-1 md:px-2;
      display: inline-block;
    }
  }

  h1 {
    @apply text-xl md:text-2xl font-bold before:content-['#'] before:mr-1 before:text-zinc-500 dark:before:text-zinc-400;
  }

  h2 {
    @apply text-lg md:text-xl font-semibold before:content-['##'] before:mr-1 before:text-zinc-500 mb-2 md:mb-3 mt-4 md:mt-8 dark:before:text-zinc-400;
  }

  h3 {
    @apply text-base md:text-lg font-semibold before:content-['###'] before:mr-1 before:text-zinc-500 mb-1 md:mb-3 mt-3 md:mt-6 dark:before:text-zinc-400;
  }

  li {
    & > ul,
    & > ol {
      @apply ml-8 mt-2;
    }
  }

  ol {
    @apply list-decimal list-inside space-y-2;
  }

  p {
    @apply text-justify;
  }

  table {
    @apply border-collapse rounded-lg;
  }

  td,
  th {
    @apply border border-zinc-300 px-3 py-1;
  }

  tr {
    &:nth-child(even) {
      @apply bg-zinc-100 dark:bg-zinc-800;
    }
  }

  ul {
    @apply list-disc list-inside space-y-2;
  }

  .math-display {
    overflow-x: scroll;
  }
}
