@tailwind base;
@tailwind components;
@tailwind utilities;

.global-article {
  @apply text-xl leading-relaxed text-gray-900;

  font-family: 'Hiragino Mincho Pro', 'YuMincho', 'Open Sans', 'Hiragino Kaku Gothic ProN', Meiryo, Helvetica, Arial,
    sans-serif;
  font-feature-settings: 'palt';
  -webkit-font-smoothing: antialiased;

  & > * + * {
    @apply mt-4;
  }

  a {
    @apply text-sky-800 hover:text-sky-700;
  }

  blockquote {
    @apply space-y-4 border-l-2 bg-gray-50 pl-3 pr-3 py-2 border-gray-400;
  }

  code {
    &.hljs {
      @apply rounded-lg text-lg;
    }

    &:not(.hljs) {
      @apply bg-gray-700 text-amber-500 rounded px-2 text-lg;
      display: inline-block;
    }
  }

  h1 {
    @apply text-2xl font-bold before:content-['#'] before:mr-1 before:text-gray-500;
  }

  h2 {
    @apply text-xl font-semibold before:content-['##'] before:mr-1 before:text-gray-500 mb-3 mt-8;
  }

  h3 {
    @apply text-lg font-semibold before:content-['###'] before:mr-1 before:text-gray-500 mb-3 mt-6;
  }

  li {
    & > ul,
    & > ol {
      @apply ml-8 mt-2;
    }
  }

  ol {
    @apply list-decimal list-inside space-y-2;
  }

  p {
    @apply text-justify;
  }

  ul {
    @apply list-disc list-inside space-y-2;
  }

  .math-display {
    overflow-x: scroll;
  }
}
